
body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 18px;
}

h4 {
  font-family: verdana;
  font-size: 18px;
}
li {
  font-family: verdana;
  font-size: 18px;
}

.a {
  font-family: verdana;
  font-size: 20px;
}

.b {
  color: blue;
}
.c {
  color: brown;
}

.d {
  color: violet;
}

.e {
  color: blue;
}

.f {
  color: brown;
}

.g {
  color: violet;
}
