<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
h4 {text-align: center;}
</style>
</head>
<body>

<h1 style="color:#00ff00">Azione per il clima</h1>
<h4>Pregetto di edcazione civica</h4>
<p class="a">Introduzione</p>
<p>Il clima del nostro pianeta si sta evolvendo a causa del rilascio eccessivo dei gas serra, questi vengono prodotti proprio dalle attivitá umane come il consumo dei combustibili fossili, fabbriche e modifiche al terreno.
Le conseguenze possono essere problemi per la produzione di cibo, i rifornimenti di acqua e via dicendo.
Alcuni analisti, prevedono che almeno 200 milioni di persone saranno costretti a migrare all’interno dei confini nazionali per evitare gli effetti disastrosi in futuro.
L’obiettivo del SDG 13 è quello di battersi per il cambiamento climatico e ridurre gli impatti ambientali.
Ecco alcuni obbiettivi del Sustainable Development Goals:
</p>

<ul>
  <li>Rafforzare la resistenza e l’adattamento ai rischi collegati
		al clima e ai disastri naturali.
</li>
<li>Introdurre delle misure per il cambiamento all’interno delle politiche nazionali, delle strategie e dei piani futuri.</li>
<li>Migliorare l’educazione e la sensibilizzazione sull’adattamento climatico e la riduzione dell’impatto preventivamente.</li>
<li>Implementare l’impegno assunto da parti dei paesi sviluppati e rendere pienamente operativo Green Climate Fund attraverso la capitalizzazione il prima possibile.</li>
<li>Promuovere un processo per aumentare la capacità di pianificazione nei paesi in via di sviluppo concentrandosi  su donne e giovani.</li>
</ul>
<p class="a">Green Climate Fund:</p>
<p>Il Green Climate Fund ( GCF ) è un fondo istituito nell'ambito dell'UNFCCC come entità operativa del meccanismo finanziario per assistere i paesi in via di sviluppo nelle pratiche di adattamento e mitigazione per contrastare il cambiamento climatico.
L'obiettivo del Fondo verde per il clima è "sostenere progetti, programmi, politiche e altre attivita nelle parti dei paesi in via di sviluppo utilizzando finestre di finanziamento tematiche". Si prevede che il Fondo verde per il clima sia il fulcro degli sforzi per aumentare i finanziamenti per il clima nell'ambito dell'UNFCCC . L'attuale direttore esecutivo è Yannick Glemarec.
</p>
<img src="https://pbs.twimg.com/profile_images/1081074140302307328/GORBTjBU.jpg" alt="">
<p class="a">Rischio climatico</p>
<p>Nel 2030 la popolazione mondiale aumenterà a 8,5 miliardi di persone e 	sperimentarono gli effetti del cambiamento climatico.
	Dal 2010 al 2019 1,3 miliardi di persone sono state colpite da tanti eventi meteorologici come inondazioni, siccità, ondate di caldo e di freddo, tra questi le inondazioni e la siccità furono responsabili di maggiori impatti umani.
</p>
<img src="SDG-Angular/src/assets/img/fot1.PNG" alt="">
<router-outlet></router-outlet>
</body>
</html>

