<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
h4 {text-align: center;}
</style>
</head>
<body>

<h1 style="color:#00ff00">Azione per il clima</h1>
<h4>Pregetto di edcazione civica</h4>
<p class="a">Introduzione</p>
<p>Il clima del nostro pianeta si sta evolvendo a causa del rilascio eccessivo dei gas serra, questi vengono prodotti proprio dalle attivitá umane come il consumo dei combustibili fossili, fabbriche e modifiche al terreno.
Le conseguenze possono essere problemi per la produzione di cibo, i rifornimenti di acqua e via dicendo.
Alcuni analisti, prevedono che almeno 200 milioni di persone saranno costretti a migrare all’interno dei confini nazionali per evitare gli effetti disastrosi in futuro.
L’obiettivo del SDG 13 è quello di battersi per il cambiamento climatico e ridurre gli impatti ambientali.
Ecco alcuni obbiettivi del Sustainable Development Goals:
</p>

<ul>
  <li>Rafforzare la resistenza e l’adattamento ai rischi collegati
		al clima e ai disastri naturali.
</li>
<li>Introdurre delle misure per il cambiamento all’interno delle politiche nazionali, delle strategie e dei piani futuri.</li>
<li>Migliorare l’educazione e la sensibilizzazione sull’adattamento climatico e la riduzione dell’impatto preventivamente.</li>
<li>Implementare l’impegno assunto da parti dei paesi sviluppati e rendere pienamente operativo Green Climate Fund attraverso la capitalizzazione il prima possibile.</li>
<li>Promuovere un processo per aumentare la capacità di pianificazione nei paesi in via di sviluppo concentrandosi  su donne e giovani.</li>
</ul>
<p class="a">Green Climate Fund:</p>
<p>Il Green Climate Fund ( GCF ) è un fondo istituito nell'ambito dell'UNFCCC come entità operativa del meccanismo finanziario per assistere i paesi in via di sviluppo nelle pratiche di adattamento e mitigazione per contrastare il cambiamento climatico.
L'obiettivo del Fondo verde per il clima è "sostenere progetti, programmi, politiche e altre attivita nelle parti dei paesi in via di sviluppo utilizzando finestre di finanziamento tematiche". Si prevede che il Fondo verde per il clima sia il fulcro degli sforzi per aumentare i finanziamenti per il clima nell'ambito dell'UNFCCC . L'attuale direttore esecutivo è Yannick Glemarec.
</p>
<img src="https://pbs.twimg.com/profile_images/1081074140302307328/GORBTjBU.jpg" alt="">
<p class="a">Rischio climatico</p>
<p>Nel 2030 la popolazione mondiale aumenterà a 8,5 miliardi di persone e 	sperimentarono gli effetti del cambiamento climatico.
	Dal 2010 al 2019 1,3 miliardi di persone sono state colpite da tanti eventi meteorologici come inondazioni, siccità, ondate di caldo e di freddo, tra questi le inondazioni e la siccità furono responsabili di maggiori impatti umani.
</p>
<img src="/workspace/SDG_Project/SDG-Angular/src/assets/img/fo1.PNG" alt="">
<ul>
  <li class="b">Inondazioni: 710 milioni di persone</li>
  <li class="c">Siccità: 653 milioni di persone</li>
  <li class="d">Ondate di freddo e di caldo: 11 milioni di persone</li>
</ul>
<p>Questi eventi colpiscono di più le persone che vivono in paesi a reddito medio basso e a basso reddito, come per esempio india e Cina che nell'ultimo decennio sono stati colpiti da inondazioni e siccità</p>
<img src="SDG-Angular/src/assets/img/fo12.PNG" alt="">
<ul>
  <li class="e">Inondazioni</li>
  <li class="f">Siccita</li>
  <li class="g">Ondate di freddo e di caldo</li>
</ul>
<p class="a">Un Futuro di Estremi Incerti </p>
<p>La portata del futuro cambiamento climatico dipende dalle emissioni nette, dai processi sociali ed economici e dalla tecnologia. A causa di queste incertezze, gli scienziati del clima utilizzano modelli di simulazione del sistema climatico terrestre per valutare l'impatto di diverse situazioni.
Di solito vengono utilizzati quattro di questi scenari, chiamati RCP (Representative Concentration Path). In termini di riduzione delle emissioni, anche il piano più ambizioso, RCP 2.6 prevede che entro il 2100 la temperatura media globale aumenterà.
Con il riscaldamento del clima, la probabilità di eventi meteorologici estremi (come ondate di calore, inondazioni e siccità) dovrebbe cambiare. In molti luoghi, specialmente nella regione equatoriale, il clima diventa più instabile e gli eventi estremi diventeranno più comuni e gravi.
Queste regioni rappresentano una percentuale eccessivamente alta della popolazione mondiale estremamente povera.
</p>
<p class="a">Le ondate di calore sono più frequenti</p>
<p>L'impatto del cambiamento climatico è più vario e difficile da prevedere. Una misura di questo tipo di evento è la precipitazione massima prevista per cinque giorni consecutivi in ​​un dato anno. In casi estremi, tali incidenti possono causare gravi inondazioni, che possono portare a vittime e danni alla proprietà.
In regioni come l'Asia meridionale e il Sud-est asiatico, gli eventi di pioggia estrema diventeranno più gravi.
</p>
<img src="SDG-Angular/src/assets/img/fot3.PNG" alt="">
<p class="a">Eventi di piogge maggiori più gravi</p>
<p>	Il cambiamento climatico influenzerà anche la possibilità di siccità. Le precipitazioni (pioggia, grandine o forti nevicate) trasferiscono l'acqua dall'atmosfera al suolo, dove può raggiungere laghi, fiumi e infine l'oceano.
Quindi, l'evaporazione dell'oceano, del suolo e della superficie del suolo e la traspirazione delle piante completano questo ciclo, restituendo il vapore acqueo all'aria.
Con il cambiamento climatico, l'equilibrio di questo ciclo cambierà. Un modo per misurare questo indicatore è l'indice standardizzato di precipitazione-evapotraspirazione, in cui valori bassi indicano siccità.
Entro il 2100, si prevede che la maggior parte della terra, sarà più suscettibile alla siccità.
</p>
<img src="SDG-Angular/src/assets/img/fot4.PNG" alt="">
<p class="a">Molte regioni diventeranno più inclini alla siccità</p>
<img src="SDG-Angular/src/assets/img/fot5.PNG" alt="">
<p class="a">Le azioni per il clima aiutano</p>
<p>In totale 197 paesi hanno firmato l’accordo di Parigi del 2016,
	che prevede un coordinamento globale per prevenire le      conseguenze peggiori tramite l'adattamento e le finanze.
L'obiettivo comune dei paesi è quello di limitare la temperatura globale sotto i 2 gradi e si punta ad avere il minimo della media globale.
Gli impegni di adattamento o di mitigazione sono classificati come obiettivo primario.Gli impegni di adattamento sono stati pianificati per risolvere gli impatti negativi del cambiamento climatico, mentre gli impegni di mitigazione sono progetti per ridurre le emissioni di gas serra.
Finora i paesi con alto reddito stanno puntando sul piano di mitigazione e invece i paesi con basso reddito si stanno impegnando sull’adattamento.
Per la mitigazione di emissioni non c’è soltanto l’anidride carbonica, ma anche un altro gas chiamato esafluoruro di zolfo, sebbene rilasciato in poche quantità sia più potente dell’anidride carbonica.
</p>
<p class="a">	I tipi di impegni climatici assunti dai paesi a reddito più alto e più basso</p>
<p>Gli impegni di mitigazione assunti ai sensi dell'accordo di Parigi avranno un impatto sulla traiettoria climatica globale.
Questo è stato seguito da un periodo di tempo molto lungo in cui le emissioni di gas serra sono aumentate drasticamente, il che non ha precedenti nella storia umana.
</p>
<img src="SDG-Angular/src/assets/img/fot6.PNG" alt="">
<p class="a">Gli attuali impegni di mitigazione sono inadeguati per raggiungere gli obiettivi globali</p>
<p>In base al potenziale di riscaldamento dei gas a effetto serra, la quantità totale di emissioni di gas a effetto serra viene convertita in unità equivalenti di anidride carbonica. Le emissioni di questi gas sono aumentate da meno di 3 gigatonnellate all'anno nel 1850 a più di 50 gigatonnellate oggi.
Secondo le attuali politiche, entro il 2030 le emissioni annuali dovrebbero raggiungere i 55-58 gigatonnellate.
Le riduzioni nazionali degli impegni rallentano questo tasso di crescita, ma l'entità sarà piccola.
	Rispetto alla traiettoria di sviluppo a lungo termine, le riduzioni delle emissioni previste non sono solo di poco conto. A giudicare dagli obiettivi dell'accordo di Parigi, gli impegni attuali non sono sufficienti.
</p>
<img src="SDG-Angular/src/assets/img/fot7.PNG" alt="">
<router-outlet></router-outlet>
</body>
</html>

